.homepage-text {
  margin-top: 20px;
}

.homepage-text p {
  margin-bottom: 0;
  font-size: 26px;
}

.rsvp-btn {
  background-color: #03256C;
  border-color: #03256C;
  border-radius: 100px;
  width: 300px;
  font-size: 21px;
  margin-top: 20px;
  transition: 1s;
}

.rsvp-btn:hover {
  background-color: #03256C;
  border-color: #03256C;
  width: 400px;
}